body{
    text-align: center;
    background-image: url("images/clock.jpg");
    color:#2d182b;  
}
.clock{
    font-size:10rem;
    border: 2px solid #495C83;
    border-radius: 1rem;
    padding: auto 0;
    display: inline-block;
    background-color: burlywood;
    color:#495C83;
    justify-content: center;
    margin: 15rem auto;
}